body {
	background: gray;
	text-align: center;
}

ul{
	list-style-type: none;
}

#container{
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 100px;
	margin-right: 100px;
	background: white;
}